<section class="hero-section">
    <div class="hero-headings">
        <h1 class="heading-primary">WELCOME TO BIOSKOP UDILOVIC GALLERY</h1>
        <p class="paragraph">Step into the world of cinema through our exclusive collection of moments, events, and behind-the-scenes highlights. Experience the magic beyond the screen!</p>
    </div>
</section>

<section class="gallery-section">
    <div class="container position">
        <h1 class="heading-primary gallery-heading">Picture that describe us</h1>
    </div>
    <div class="gallery-container">
        <div class="card">
            <img src="/assets/image1.jpeg" alt="">
        </div>
        <div class="card">
            <img src="/assets/image2.jpeg" alt="">
        </div>
        <div class="card">
            <img src="/assets/image3.jpeg" alt="">
        </div>
        <div class="card">
            <img src="/assets/image4.jpeg" alt="">
        </div>
        <div class="card">
            <img src="/assets/image5.jpeg" alt="">
        </div>
        
    </div>
    
</section>
